.pet_details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  background-color: #c398bb;
}

img {
  height: auto;
  width: 230px;
  border-radius: 10%;
  background-color: rgba(232, 216, 229, 0.755);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  gap: 20px;
  justify-content: center;
}

.pet_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  border: 2px solid #554d74;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  background-color: #c398bb;
  align-items: center;
  justify-content: center;
}
