.pet-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  background-color: #cec3c8;
  font-family: "Merriweather Sans", sans-serif;
}

img {
  height: auto;
  width: 400px;
  border-radius: 10%;
}

.pet-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #cec3c8;
  font-family: "Merriweather Sans", sans-serif;
}
