.pet-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  background-color: #cec3c8;
}

img {
  height: auto;
  width: 400px;
  border-radius: 10%;
}

.pet-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  border: 1px solid #3c240d;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  background-color: #cec3c8;
  align-items: center;
  justify-content: center;
}
